  
  <div class="flex-col grow full-height">
    <header class="header preview-searcharea" style="background-color: #ffffff;">
      <div class="flex-row searchWidget widget">
          <div class="searchWidgetPreview">
            <div class="ais-SearchBox-wrapper" id="search-wrapper">
              <div class="ais-SearchBox" id="search-box"></div>
              <div id="inputfield">
                <i id="search-icon" class="fa fa-search icon-search"></i>
                <input autofocus class="animated-search-box" autocomplete="off" autocorrect="off" placeholder="" spellcheck="false" type="text">
                </div>
            </div>
          </div>
          <div class="absolute bottom-0 text-center w-full flex flex-col"></div>
        </div>
    </header>
    <div class="flex-row grow content container">
      
      <div class="container-results flex-col grow">
        <header class="container-header container-options no-title">
          <div id="stats-container"></div>
        </header>
        <div id="hits" class="flex-col grow"></div>
        <div id="pagination"></div>
      </div>
    </div>
  </div>
