<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript" src="/js/ResizeObserver.js"></script>
<script type="text/javascript">
  FreshWidget.init("", {
    "queryString": "&widgetType=popup&submitTitle=Submit&submitThanks=Thank+you+for+reaching+out+to+us.+We+shall+revert+back+at+the+earliest.",
    "utf8": "✓",
    "widgetType": "popup",
    "buttonType": "text",
    "buttonText": "Contact support",
    "buttonColor": "#dc1d30",
    "buttonBg": "#ffffff",
	/* Set alignment and offset to not show the button.
     * We use custom button.
     */
    "alignment": "4",
    "offset": "-1500px",
    "submitThanks": "Thank you for reaching out to us. We shall revert back at the earliest.",
    "formHeight": "500px",
    "url": "https://rapyutarobotics.freshdesk.com"
  });
</script>
<script type="text/javascript">
    function addCollapseBtn() {
        const topBar = document.getElementById('top-bar')
        const button = document.createElement('button');
        const img = document.createElement('img');

        button.classList.add('sidebar-collapse-btn');
        img.src = "/images/fullscreen.png"
        button.append(img);
        topBar.append(button);

        button.addEventListener('click',() => {
            if (document.body.classList.contains('collapse')) {
                document.body.classList.remove('collapse');
            } else {
                document.body.classList.add('collapse');
            }
        });
    }

    function fixTopBarResize() {
        const contentBody = document.getElementById('body-inner');
        const topBar = document.getElementById('top-bar');

        const ro = new ResizeObserver((entries, observer) => {
            if (entries.length > 0) {
                topBar.style.width = `${entries[0].target.clientWidth}px`;
            }
        });

        ro.observe(contentBody);
    }

    function FixSideBarScrollIntoView() {
        const topicsSidebar = document.getElementsByClassName('topics')[0];

        if (topicsSidebar) {
            const currentItemActive = topicsSidebar.getElementsByClassName('dd-item active')[0];

            if (currentItemActive) {
                currentItemActive.getElementsByTagName('a')[0].scrollIntoView(true);
            }
        }
    }

    window.addEventListener('DOMContentLoaded', () => {
        fixTopBarResize();
        FixSideBarScrollIntoView();
        addCollapseBtn();
    });
</script>
