<style>
{{ if eq $.URL "/search" }}
    #body-inner {
      width: 100%;
    }
    .d-block.mt-4.markdown-body {
        display: none;
    }
{{ end}}
    .content {
      width: 100%;
    }
</style>

{{ if not (eq $.URL "/search") }}
   <div id="search-modal" class="modal-wrapper" style="display: none;" onclick="if(this == event.target) {$('#search-modal').toggle()};event.stopPropagation();">
    <div class="notice-shortcuts flex-row">
        <div class="left"><span>  SHIFT </span> + <span> SPACE</span> to search.</div> 
        <div class="right"><span> ESC </span> to close.</div> 
     </div>>
       <div class="modal-content">
           {{partial "algolia-search.html" .}}
       </div>
   </div> 

   <script>
   let lastKey = null;
   let lastTime =new Date().getTime();

   $(document).keyup(function(e) {
     if(e.shiftKey && e.key === " ")
     {
         let now = new Date().getTime();
         if(now - lastTime < 100);
         {
            $('#search-modal').toggle();
            $('.animated-search-box').focus()
         }
        lastTime = now;
        debugger
        // alert('test')
     }
     if (e.key === "Escape") { // escape key maps to keycode `27`
            // <DO YOUR WORK HERE>
                $('#search-modal').hide();
        }
    if (e.keyCode == 39) {      
        $(".move-focus").next().focus();

    }
    if (e.keyCode == 37) {      
        $(".move-focus").prev().focus();

    }
    });
   </script>
{{ end }}


