/* Most of it copied from theme/learn/static/css/theme-red.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    /* font-size: 12px; */
    font-size: 16px;
    line-height: 24px;
    /* color: #636363; */
    color: var(--MAIN-TEXT-color) !important;
    background: #f5f0f0;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 100vh;
  }



:root{
    --MAIN-BG-color: #f6f6f6;
    --MAIN-TEXT-color: #222222; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #444444; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #dc1d30; /* Color of links */
    --MAIN-LINK-HOVER-color: #dc1d30; /* Color of hovered links */
    --MAIN-ANCHOR-color: #dc1d30; /* color of anchors on titles */

    --MENU-HEADER-BG-color: #fff; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #f6f6f6; /* Color of menu header border */
    --MENU-HEADER-LINK-color: #222222; /* Color of menu header link */
    --MENU-HEADER-LINK-HOVER-color: #222222; /* Color of menu header link, when header */

    --MENU-SEARCH-BG-color: #f6f6f6; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #f6f6f6; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #222222; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #fff; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #fff; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #444444; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #dc1d30; /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #dc1d30; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-PARENT-color: #e90d23; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ebe1e182; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #ff3333; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #2b2020; /* Color of <hr> separator in menu */
}

*, *:after, *:before {
	box-sizing: border-box;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

/* Won't be used here */

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

#body-inner b, strong {
    font-weight: 600;
    letter-spacing: 0px;
    color: var(--MAIN-TITLES-TEXT-color);
}

#navigation strong {
    background: transparent;
    color: #c3212c;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

span.links a {
    color: #cecece;
}


table th,table td {
    padding: 0px 9px;
    line-height: 33px;
    font-size: 13px;
}

pre {
    background: #f6f6f6;
}

  
   
.main h2:after, 
.main h3:after, 
.main h4:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0rem;
	bottom: 0;
	width: 6px;
	border-radius: 4px;
	/* border-top: 4px solid #78a7dd; */
}

.main h4:after {
	top: 0.3rem;
	bottom: 0;
	width: 5px;
}

.main h2:after { background: #78a7dd; width: 8px;}
.main h3:after { background: #46912f; width: 6px; }
.main h4:after { background:transparent; width: 2px;}

.main h1 {
	font-size: 36px;
	line-height: 40px;
	margin: 1em 0 .6em 0;
	font-weight: normal;
	color: white;
    /* font-family: 'Merriweather', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
	/* text-shadow: 0 -1px 0 rgba(0,0,0,0.4); */
	position: relative;
    color: #bd212c;
    text-align: left;
    padding-bottom: 16px;
    border-bottom: 4px solid #dcdcdc;
}

.main h2 {
	margin: 1.5em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
    color: white;
    
    /* font-family: 'Merriweather', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 30px;
	line-height: 40px;
}

.main h3 {
	margin: 2em 0 1em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: white;
    /* font-family: 'Merriweather', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 24px;
	line-height: 40px;
}

.main h4 { 
	margin: 2em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: white;
    /* font-family: 'Merriweather', sans-serif; */
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 18px;
	line-height: 20px;
}



@media screen and (min-width: 600px){ 
    .main p{
        font-size: 16px;
        line-height: 24px;
        color: #636363;
    }
}


#body {
    /* position: relative; */
    margin-left: 0px;
    background: white;
    /* border-left: 32px solid #f5f0f0; */
    /* border-right: 32px solid #f5f0f0; */
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}


#body .padding {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
#chapter {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}


#top-bar-sticky-wrapper {
    position: absolute;
    z-index: 1000;
    width: 100%;
}
div#navigation {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 3rem;
    line-height: 2.9rem;
    /* padding: 0 1rem; */
    box-sizing: border-box;
    border-top: 1px solid #ECECEC;
}

#body .nav {
    position: absolute;
    bottom: 0;
    min-width: 4rem;
    width: auto;
    font-size: 18px;
    height: auto;
    background: #ffffff;
    padding: 0 2rem;
    /* margin: 0 4px; */
}

#body .nav:hover {
    background: #ECECEC;
    
}

div.progress {
    position: absolute;
    display: inline-block;
    top: 70px;
    right: 60px;
    width: 330px;
    opacity: 1;
    background-color:rgb(255 255 255);
    border-top:1px solid #ECECEC;
    border-bottom:1px solid #ECECEC;
}


#TableOfContents > ul > li > a {
    font-weight: normal;
    margin:0;
    padding:0;
    color: #464646;
    font-size: 13px;
}


#TableOfContents > ul > li > ul > li > a {
    font-weight: unset;
    color: #464646;
    font-size: 13px;
    text-indent: 1rem;
    margin-left: 1rem;
}

#TableOfContents > ul > li > a:hover,a:active,a:visited {
    color: #bd212c;
}



#top-bar {
    background: #212121;
    border-radius: 2px;
    padding: 0 1rem;
    height: 0;
    min-height: 3rem;
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 1px;
    width:100%;
    display: flex;
    flex-direction: row;
}
#top-bar #breadcrumbs {
    line-height: 3rem;
    font-size: 14px;
}
#top-bar #top-toggle-link{
    line-height: 3rem;
    width: 75px;
    padding: 0 1rem;
    font-size: 32px;
}
#top-bar #top-btn-div{
    font-size: 30px;
    /* float: right; */
    width: 45px;
    line-height: 3rem;
    padding: 0 0.5rem;
}
#top-bar #top-fullscreen-div{
    font-size: 35px;
    /* float: right; */
    line-height: 64px;
}


.sticky-wrapper:not(.sticky-wrapper.is-sticky)  #top-bar{
    width: 100%!important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}


.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
    all: unset;
    display: flex;
    min-width: 300px;
    width: 20%;
    max-width: 300px;
    flex-direction: column;
    background-color: var(--MENU-SECTIONS-BG-color);
    box-shadow: 7px 1px 12px 11px #0000000d;
    z-index: 1001;
    margin: 0 1rem 0 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    font-weight: 600;
}
#sidebar ul li.parent > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-PARENT-color) !important;
    font-weight: 600;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

/* Custom additions */

#body .padding {
    padding:0;
}

#body-inner {
    background: #fff;
    padding: 0.5rem 4rem 2rem 2rem;
    margin-bottom: 0;
    width:75%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}


#logo {
    display: flex;
    height: 60px;
}

#logo > img {
    background: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: auto;
}

#logo > a {
    margin: auto;
    color: var(--MENU-HEADER-LINK-color);
    font-size: 16px;
}

#logo > a:hover {
    color: var(--MENU-HEADER-LINK-color);
}


.hljs {
    color: #222222;
    background: #f6f6f6;
}

pre .copy-to-clipboard {
    background-color: #FFF7DD;
}

pre .copy-to-clipboard:hover {
    background-color: #e8e2cd;
}
#sidebar ul li a {
    border-bottom: 1px solid #ffefef;
    overflow: hidden;
    height: 2rem;
}

#body-inner ul li  {
    list-style: disc;
}

#body-inner ol li li{
    list-style: lower-latin;
}
li.dd-item.parent.active a, 
li.dd-item.active ul li a,
li.dd-item.active a,
li.dd-item.active li a {
    font-weight: 400;
}

ul.topics {
    font-size:13px;
}
ul.topics > li > a::after {
  content: '+';
  position: absolute;
  right: 1rem;
}
  
#sidebar ul li li {
    /* padding-left: 0.6rem; */
    text-indent: 1.5rem;
}

#sidebar ul li li li {
    /* padding-left: 0.6rem; */
    text-indent: 3rem;
}

#sidebar ul ul {
    background: #efefef;
}

#sidebar ul ul {
    background: transparent;
}

#sidebar ul li li li li{
    /* padding-left: 0.6rem; */
    text-indent: 4rem;
}



#body #breadcrumbs {
    width: 95%;
    text-transform: none;
}

img.pkg-import-btn {
    height: 40px!important;
    padding: 0;
    margin: 0.5rem 0rem 2rem!important;
}

/* Fix search autocomplete box scroll bug */
.autocomplete-suggestions  {
    position: fixed;
    top: 123px !important;
}



div.notices p {
    font-size: 14px;
    border-top: 30px solid #71b0ff!important;
    background: #e2eaf2!important;
}

.error-code-table-wrapper {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}




@media only screen and (max-width: 520px) {
    h1 {   font-size: 1.75rem!important; }
    h2 {   font-size: 1.5rem!important; }
    h3 {   font-size: 1.25rem!important; }
    h4 {   font-size: 1rem!important; }
    h5 {   font-size: 0.9rem!important; }

    #sidebar {
        display: none;
    }
    #toc{
        display: none!important;
    }

    #header-wrapper .searchbox {
        display: none!important;
    }
    
    #navigation {
        /* display: none!important; */
        display: flex!important;
        position: relative!important;
    }

    #body #navigation .nav {
        position: relative;
        padding: 8px;
        line-height: 2rem;
        text-overflow: ellipsis;
        display: inline-block;
        width: 50%;
    }

    #navigation strong {
        padding: 0px;
        margin: 0px;
    }

    #body {
        border: 0;
    }
    #body .highlightable.padding {
        padding: 0px!important;
        overflow-y: scroll!important;
        overflow-x: hidden!important;
    }

    #chapter #body-inner {
        max-width: 100%;
    }

    #body-inner {
        width: 100%;
        padding: 0 12px;
    }

}


@media only screen and (min-width: 521px) and (max-width: 1024px) {
    h1 {   font-size: 1.75rem!important; }
    h2 {   font-size: 1.5rem!important; }
    h3 {   font-size: 1.25rem!important; }
    h4 {   font-size: 1rem!important; }
    h5 {   font-size: 0.9rem!important; }

    .collapse #sidebar {
        display: none;
    }

    .collapse #body {
        margin-left: 0;
    }

    #top-bar {
        position: relative;
    }

    .sidebar-collapse-btn {
        position: absolute;
        width: 16px;
        padding: 0;
        right: 10px;
        bottom: 18px;
        padding: 0;
    }

    #body .sidebar-collapse-btn > img {
        margin: 0;
    }


    #sidebar {
        display: none;
    }
    #toc {
        display: none!important;
    }

    #body {
        border: 0;
    }
    #body .highlightable.padding {
        padding: 0px!important;
    }

    #chapter #body-inner {
        max-width: 100%;
    }

    #body-inner {
        width: 100%;
        padding: 0 2rem;
    }


    .group-hit.flex-row.grow {
        flex-direction: column;
    }

    .group.flex-col.flex-2 {
        margin-bottom: 1rem;
        width: 80%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px)  {
    h1 {   font-size: 1.75rem!important; }
    h2 {   font-size: 1.5rem!important; }
    h3 {   font-size: 1.25rem!important; }
    h4 {   font-size: 1rem!important; }
    h5 {   font-size: 0.9rem!important; }

    #sidebar {
        display: none;
    }
   
    #body {
        border-left:0;
    }
    #body .highlightable.padding {
        padding: 0px!important;
    }

    #chapter #body-inner {
        max-width: 100%;
        width: 100%;
    }

    #body-inner {
        width: calc(100% - 300px);
        padding: 0 2rem;
    }

    #toc {
        right: 1rem;
        width: 280px;
    }
}



@media print
{
    h1 {   font-size: 1.75rem!important; }
    h2 {   font-size: 1.5rem!important; }
    h3 {   font-size: 1.25rem!important; }
    h4 {   font-size: 1rem!important; }
    h5 {   font-size: 0.9rem!important; }

    #sidebar {
        display: none;
    }
    #toc, #navigation {
        display: none!important;
    }

    #body {
        border: 0;
    }
    #body .highlightable.padding {
        padding: 0px!important;
        display: block;
        width: auto;
        height: auto;
        overflow: visible;
    }

    #chapter #body-inner {
        max-width: 100%;
    }

    #body-inner {
        width: 100%;
        padding: 0 12px;
    }
}


#body-inner h1 {
    text-transform: none;
}


div.notices.warning p {
    border-top: 30px solid #f87a30!important;
    background: #f2eeee!important;
}

div#freshwidget-overlay {
    background: black;
    opacity: 0.8;
}

h2 + * {
    margin-top: 0 !important;
}

h3 + * {
    margin-top: 0;
}

p + ol {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p + ul {
    margin-top: 0.5rem;
}

div.notices {
    margin-bottom: 0;
}

div.notices > * {
    margin: 0;
    font-size: 14px;
}

div.notices > *:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06a";
    left: 10px;
}
div.notices > *:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}
div.notices.info > *:first-child:after {
    content: 'Info';
}
div.notices.warning > *:first-child:after {
    content: 'Warning';
}
div.notices.note > *:first-child:after {
    content: 'Note';
}
div.notices.tip > *:first-child:after {
    content: 'Tip';
}
div.notices > * {
    border-top: 30px solid #71b0ff;
    background: #E7F2FA;
}
div.notices.warning > * {
    border-top: 30px solid #f87a30 ;
    background: #f2eeee;
}

td > * {
    margin: 0;
}


details {
    margin: 20px 0;
    max-height: 30px;
    transition: max-height ease-in-out 0.5s;
    overflow: hidden;
}

details summary {
    position: relative;
    padding-left: 40px;
    font-size: 30px;
    height: 30px;
    overflow: hidden;
}

details summary::before {
    display: block;
    width: 30px;
    height: 30px;
    content: '';
    background: url('/images/expand-chevron.svg');
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    transition: transform ease-in-out 0.3s;
    cursor: pointer;
}

details[open] {
    max-height: 5000px;
}

details[open] summary::before {
    transform: rotate(0);
}

#body img {
    margin: 2rem auto;
}

ol + .notices {
    margin-top: 0;
}

.notices + ol {
    margin-top: 0;
}

ol + .highlight pre {
    margin: 0;
}

p + .highlight pre {
    margin: 1rem 0;
}

blockquote + * {
    margin-top: 0;
}

td .notices {
    margin: 0.5rem 0;
}

td div.notices p {
    font-size: 13px;
}

h3 + * {
    margin-top: 0 !important;
}

ol:has(+ div) {
    margin-bottom: 0;
}