html {
    padding: 0;
    margin: 0; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
    margin: 0;
    padding: 63px 0 0 0;
    font-family: 'Lato', sans-serif;
    color: #666666;
    font-size: 16px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

a {
    color: #E11A27;
    text-decoration: none; }

p {
    line-height: 1.6; }

#breadcrumbNav {
    display: flex; }

#toggleNav {
    font-size: 14px;
    font-family: inherit; }

#breadcrumb {
    list-style: none;
    padding: 0; }

#breadcrumb li {
    display: inline-block; }

#breadcrumb a {
    color: inherit;
    text-decoration: none; }

#breadcrumb a:hover {
    color: #E11A27; }

#breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }

#header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1000;
}

#sidebar {
    background-color: #F7F7F7;
    position: fixed;
    font-size: 13px;
    width: 300px;
    max-height: calc(100vh - 103px);
    overflow-y: auto;
    padding: 20px 0 20px 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

@media only screen and (max-width: 800px) {
    #sidebar {
        display: none; } }

#sidebar ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0; }

#sidebar a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 10px 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden; }

#sidebar > ul > li > a {
    color: #444444; }

#sidebar a.active {
    margin-left: -20px !important;
    margin-right: 0 !important;
    background-color: #FFFFFF;
    padding: 10px 0 10px 15px;
    border-left: 5px solid #E11A27; }

#sidebarUl span {
    display: inline-block;
    font-size: 7px;
    width: 35px;
    border-radius: 3px;
    color: #FFFFFF;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-right: 10px;
    vertical-align: text-bottom; }

.methodSpan.get {
    background-color: #6bbd5b; }

.methodSpan.post {
    background-color: #248fb2; }

.methodSpan.patch {
    background-color: #e09d43; }

.methodSpan.put {
    background-color: #9b708b; }

.methodSpan.delete {
    background-color: #e27a7a; }

#headerInner {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto; }

#headerLogo {
    height: 50px; }

@media only screen and (max-width: 340px) {
    #headerLogo {
        height: auto;
        width: 100%; } }

#container {
    overflow-x: hidden;
    width: 100%;
    max-width: 1400px;
    /*padding: 63px 20px 0 20px;*/
    padding: 0 20px;
    margin: 0 auto;
}

#pageContainer {
    display: flex;
    padding: 20px 0;
    position: relative;
    align-items: flex-start; }

#pageContents {
    margin-left: 315px;
    border-left: 2px solid #F7F7F7;
    padding: 0 20px;
    flex-grow: 1; }

.page-header h1 {
    margin: 0; }

@media only screen and (max-width: 800px) {
    #pageContents {
        margin-left: 0;
        padding: 0;
        border-left: 0; } }

.apiItem {
    padding: 30px 0; }

.apiCodeEmbed {
    width: 100%;
    border: 2px solid #F7F7F7;
    border-radius: 6px;
    display: block; }
.apiCodeEmbed ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #FCFCFC;
    border-bottom: 2px solid #F7F7F7; }
.apiCodeEmbed .tabHeaderItem {
    padding: 10px 20px;
    cursor: pointer; }
.apiCodeEmbed .tabHeaderItem.active {
    background-color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: -2px;
    cursor: default; }
.apiCodeEmbed .tabContentItem {
    display: none;
    padding: 0; }
.apiCodeEmbed .tabContentItem pre {
    line-height: 1.4;
    margin: 0;
    padding: 20px;
    display: inline-block;
    width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto; }
.apiCodeEmbed .tabContentItem.active {
    display: flex; }

.apiItemHead {
    font-size: 24px;
    margin-bottom: 0; }
.apiItemHead span {
    display: inline-block;
    font-size: 10px;
    width: 50px;
    border-radius: 4px;
    color: #FFFFFF;
    height: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;
    vertical-align: text-bottom;
    margin-bottom: 4px; }

.apiDetails {
    color: #888888;
    font-size: 14px; }

.paramBodyItem {
    line-height: 1.6;
    display: flex; }

.paramName {
    width: 160px;
    text-align: right; }

.paramType {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 20px; }

.paramRequired {
    color: #C82829;
    font-size: 12px; }

.paramDescription {
    color: #888888; }
